:root {
	--primary: #D81E5B;
	--secondary: #8A4EFC;
	--light: #EEE;
	--light-alt: #61759b;
	--dark: #131A26;
	--dark-alt: #202B3E;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fira Sans", sans-serif;
}

body {
    background-color: var(--dark-alt);
    color: var(--light);
}

.App {
    padding: 40px;
}

h1 {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 32px;
}

h4 {
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 32px;
    color: var(--light-alt);
}

.todo {
    position: relative;
    padding: 16px;
    border-radius: 16px;
    background-color: var(--dark);
    display: flex;
    align-items: center;
    transition: 0.5s;
    cursor: pointer;
    margin-bottom: 16px;
}

.todo:hover {
    opacity: 0.8;
}

.todo .checkbox {
    width: 23px;
    height: 23px;
    background-color: var(--primary);
    background-image: linear-gradient(to bottom, transparent, transparent);
    margin-right: 15px;
    border-radius: 100%;
    transition: 0.4s;
}

.todo.is-complete .checkbox {
    background-image: linear-gradient(to bottom, var(--primary), var(--secondary));
}

.addPopup {
    width: 50px;
    height: 50px;
    background-color: var(--primary);
    background-image: linear-gradient(to bottom, var(--primary), var(--secondary));
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 50px;
    bottom: 50px;
    cursor: pointer;
    transition: 0.5s;
    font-size: 50px;
    color:azure;
}

.addPopup:hover {
    transform: scale(1.5);
}

.todo .delete-todo {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 100%;
    max-width: 400px;
    background-color: var(--light);
    padding: 32px;
    border-radius: 16px;
    box-shadow: 0px 4px 32px var(--dark);
}

.closePopup {
    position: absolute;
    top: 16px;
    right: 16px;
    width: 20px;
    height: 20px;
    font-size: 20px;
    color: var(--dark);
    cursor: pointer;
}

.popup h3 {
    color: var(--dark);
    margin-bottom: 16px;
    font-weight: 600;
    text-transform: uppercase;
}

.add-todo-input {
    appearance: none;
    outline: none;
    border: none;
    background-color: #fff;
    padding: 10px;
    border-radius: 16px;
    width: 100%;
    box-shadow: 0 2px 24px rgba(0,0,0, 0.2);
    font-size: 20px;
}

.button {
    padding: 16px 32px;
    border-radius: 999px;
    background-image: linear-gradient(to right, var(--primary), var(--secondary));
    display: inline-block;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 18px;
    margin-top: 16px;
    text-align: center;
    cursor: pointer;
}



